@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

.btn-box {
  display: flex;
  justify-content: space-between;
}

@media(max-width: 450px) {
  .btn-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.success-msg {
  width: 100%;
  padding: 14px;
  background-color: #dff0d8;
  color: #468847;
}

.error-msg {
  width: 100%;
  padding: 14px;
  background-color: #f0d0d3;
  color: #df786f;
}

.link {
  text-decoration: none;
}

/* navbar */
.navbar {
  width: 100%;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
}

@media(max-width: 450px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
  }
}

.navbar .logo {
  width: 150px;
  height: auto;
}

.navbar .logo img {
  width: 100%;
  height: 100%;
}

.navbar .rightside {
  display: flex;
  font-weight: 600;
  font-size: 16px;
  margin-right: 24px;
  align-items: center;
}

@media(max-width: 450px) {
  .navbar .rightside {
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-right: 0px;
  }
}

.navbar .rightside div {
  margin: 0px 10px;
}

@media(max-width: 450px) {
  .navbar .rightside div {
    margin: 10px 0px;
  }
}

.navbar .rightside div .navlink {
  text-decoration: none;
  color: #000;
}



.delete-icon {
  background-color: #e00a02;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;
}

/* modal css */
.shade-area {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 300px;
  height: auto;
  padding: 20px;
  background-color: #fff;
  position: relative;
}

.delete-icon {
  background-color: #e00a02;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;
}

.imgs {
  position: absolute;
  width: 612px;
  height: 437px;
  left: 128px;
  top: 110px;


}

.imgs1 {
  width: 100%;
}

.box-wrapper {

  position: absolute;
  width: 516px;
  height: 630px;
  left: 889px;
  top: 80px;

  background: #FFFFFF;
  box-shadow: 1px -10px 25px rgba(201, 201, 201, 0.25), -1px 10px 25px rgba(147, 147, 147, 0.25);
}

.text {
  position: absolute;
  width: 124px;
  height: 10px;
  left: 200px;
  top: 128px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

/* .signMain {

  position: relative;
  width: 1440px;
  height: 660px;

  background: #FFFFFF;
}

.field {

  position: absolute;
  width: 10px;
  height: 40px;
  left: 0px;
  top: 200px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;


  background: #B4B4B4;
  border: 1px solid #A4A4A4;

} */

/* .fieldl {


  position: absolute;
  width: 10px;
  height: 40px;
  left: 0px;
  top: 250px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  

  color: #B4B4B4;

  background: #B4B4B4;
  border: 1px solid #A4A4A4;

} */

.btn1 {

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 20px;
  gap: 10px;

  position: absolute;
  width: 122px;
  height: 41px;
  left: 198px;
  top: 488px;


  background: #1678CB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

/* .fieldn {

  position: absolute;
  width: 10px;
  height: 40px;
  left: 0px;
  top: 300px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;


  color: #B4B4B4;

  background: #B4B4B4;
  border: 1px solid #A4A4A4;


} */
/* 
.fielde {

  position: absolute;
  width: 10px;
  height: 40px;
  left: 0px;
  top: 350px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  

  color: #B4B4B4;

  background: #B4B4B4;
  border: 1px solid #A4A4A4;


} */

/* .fieldp {
  position: absolute;
  width: 10px;
  height: 40px;
  left: 0px;
  top: 400px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
 

  color: #B4B4B4;

  background: #B4B4B4;
  border: 1px solid #A4A4A4;


} */

.btn-box {


  position: absolute;
  width: 256px;
  height: 15px;
  left: 228px;
  top: 583px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #7E7E7E;
}


.fielde1 {

  position: absolute;
  width: 10px;
  height: 60px;
  left: 0px;
  top: 210px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  /* line-height: 12px; */

  color: #B4B4B4;

  background: #B4B4B4;
  border: 1px solid #A4A4A4;
}

.fieldp1 {

  position: absolute;
  width: 10px;
  height: 60px;
  left: 0px;
  top: 300px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  /* line-height: 12px; */

  color: #B4B4B4;

  background: #B4B4B4;
  border: 1px solid #A4A4A4;
}

/* @media (max-width:992px) {
  .col-lg-6 {
    flex: 0 0 auto;
    width: 52%;
  }
} */



.logo1 {

  position: absolute;
  width: 184.21px;
  height: 100px;
  left: 35px;
  top: 56px;

}

.success-msg {
  width: 100%;
  padding: 14px;
  background-color: #dff0d8;
  color: #468847;
}

.error-msg {
  width: 100%;
  padding: 14px;
  background-color: #f0d0d3;
  color: #df786f;
}

/* .validpass {
  position: absolute;
  width: 228px;
  height: 49px;
  left: 7px;
  top: 446px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;



  color: #7E7E7E;

} */

.attenInfo h1 {

  width: 57%;
  height: 55%;
  background: #1678CB;
  margin-left: 250px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
  background: #1678CB;
  text-align: center;



}

.attenInfo1 h1 {

  width: 57%;
  height: 55%;
  background: #1678CB;
  margin-left: 350px;
  margin-top: 180px;
  margin-bottom: 50px;
  color: white;
  background: #1678CB;
  text-align: center;

}



@media(min-width: 768px) {

  

  .modi7{
    width: 100% !important;
  }

  .attenInfo h1 {

    width: 57%;
    height: 55%;
    background: #1678CB;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    background: #1678CB;
    text-align: center;



  }


}

@media(min-width: 1024px) {
 
}

@media(max-width: 300px) {}

@media(max-width: 540px) {

  .slider-img{
    width: 100% !important;
  
  }
  .attenInfo h1 {

    width: 57%;
    height: 55%;
    background: #1678CB;
    margin-left: 130px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    background: #1678CB;
    text-align: center;

  }
}

@media(max-width: 360px) {

  .attenInfo h1 {

    width: 60%;
    height: 55%;
    background: #1678CB;
    margin-left: 90px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    background: #1678CB;
    text-align: center;

  }
}

.onboardForm {
  margin-top: 150px;
  margin-bottom: 80px;
  width: 100%;
}

.onboardForm1 {
  margin-top: 100px;
  margin-bottom: 80px;
  width: 100%;
}

.marge {

  margin-top: 113px;
}

/* .card {
  width: 40% !important;
  text-decoration: none;
  border: none !important;
  border-radius: 0% !important;
  box-shadow: 0 0 4px 0 rgba(57, 78, 234, 0.1)
} */